<div class="navbar navbar-expand-sm navbar-light navbar-cookbook">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "https://99designs-blog.imgix.net/blog/wp-content/uploads/2022/06/Starbucks_Corporation_Logo_2011.svg-e1657703028844.png?auto=format&q=60&fit=max&w=930" %>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", categories_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add Category", new_category_path , class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/925256408/photo/spaghetti-with-fresh-tomato-sauce-mozzarella-and-basil.jpg?s=2048x2048&w=is&k=20&c=zQgwwEh25G0DRoaxXGzRfPslBnVShx1tEXPc2yTtVOk=);">
  <div class="container">
  <div class="cover mb-4 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>COOKBOOK</h1>
      <h3>Save your favourite recipes</h3>
    </div>
  </div>

  </div>
</div>


<!-- Create New category Button -->

<div class="container py-5 text-end">
  <div class="info-top">
    <h3>List of Categories</h3>
    <%= link_to "New Category", new_category_path , class: "btn btn-warning" %>
  </div>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="cards co-12 col-sm-6 col-md-4 mb-3">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1695924428716-0b09d79add5c?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
          <h2><%= link_to category.name, category_path(category), class: "category-link" %></h2>
        </div>
    </div>
    <% end %>
  </div>
</div>

<%# <h1>My categories</h1> %>
<!-- Categories Section -->
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is cooked-up with <i class="fas fa-heart"></i> by Sanjay
  </div>
</div>
